*
!*/

!*.py
!*.md
!*.ini
!dia_info.json
!ensembles/*.json
!*.toml
!requirements.txt
!Makefile
!*.dat

HighResAnalysis/config/main.ini
HighResAnalysis/config/client_secret.json
venv/
.ipynb_checkpoints/
HighResAnalysis/.ipynb_checkpoints/
